
doctype html5
html
  head
    title @flower-mud
    meta(charset='utf-8')
    link(rel='stylesheet', href='./build/list.css')
    script(src='./node_modules/zepto/zepto.min.js')
    script(defer, src='./build/type.js')
  body
    #wrapper
      input#input
      #list
